menu-cpt input.checkbox-btn {
	right: 0;
	top: 0;
	bottom: 0;
	left: auto;
	margin: auto;
	width: 10px;
	height: 10px;
	padding: 0;
	min-height: 0;
	opacity: 0.01;
	cursor: pointer;
	position: absolute;
}

menu-cpt input.checkbox-btn ~ .box-closed {
	display: block;
}

menu-cpt .menu-main-btn {
	font-size: 0;
	line-height: 0;
}

menu-cpt ul {
	list-style: none;
	padding: 0;
	display: flex;
}

menu-cpt ul li {
	position: relative;
}

menu-cpt ul ul {
	flex-direction: column;
	position: absolute;
	left: 0;
	display: none;
}

menu-cpt ul > li:hover > ul {
	display: block;
}

menu-cpt ul ul ul {
	left: 100%;
	top: 0;
}

@media (min-width: 981px) {
	menu-cpt input.checkbox-btn {
		display: none;
	}
}
